@import "scss/variable.scss";
@import "scss/mixin.scss";
@import "scss/fluid-slider.scss";

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile + label {
  font-size: 1.25em;
  font-weight: 700;
  color: white;
  background-color: $gray-800;
  display: inline-block;
}

.inputfile + label:hover {
  background-color: $red;
}

.inputfile + label {
  cursor: pointer; /* "hand" cursor */
}

.slider-wrapper {
  width: 300px;
  margin: 120px auto;
}
