//--Global setting
.file-input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: z(bottomless-pit);
}

.btn-wide {
  width: 300px;
}

.btn-medium {
  width: 150px;
}

.btnGroup-left {
  border-radius: .25rem 0px 0px .25rem;
}

.btnGroup-right {
  border-radius: 0px .25rem .25rem 0px;
}

.btnGroup-middle {
  border-radius: 0px;
}

#recordUrl {
  cursor: pointer;

  &::selection {
    color: inherit; 
    background: inherit;
  }
}


//--Only in `control` component
#control-wrapper {
  @extend %i-control;

  a:link, a:visited, a:hover, a:active {
    @extend %remove-a-effect;
  };
}