//--Global setting
.file-input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.file-label {
  font-weight: normal;
  margin: 0;
  cursor: pointer; /* "hand" cursor */
}

.tip-tip {
  background-color: $gray-r200;
  color: $gray-700;
  pointer-events: none;

  + .tip-arrow-bottom::before { //::before is the real arrow
    border-bottom-color: $gray-r200;
  }
  + .tip-arrow-top::before { //::before is the real arrow
    border-top-color: $gray-r200;
  }
  + .tip-arrow-right::before { //::before is the real arrow
    border-right-color: $gray-r200;
  }
  + .tip-arrow-left::before { //::before is the real arrow
    border-left-color: $gray-r200;
  }
}

.btn-wide {
  width: 300px;
}

.btn-medium {
  width: 150px;
}

.btnGroup-left > button {
  border-radius: .25rem 0px 0px .25rem;
}

.btnGroup-right > button {
  border-radius: 0px .25rem .25rem 0px;
}

.btnGroup-middle > button {
  border-radius: 0px;
}


//--Only in `control` component
#control-wrapper {

  a:link, a:visited, a:hover, a:active {
    @extend %remove-a-effect;
  }

}