.file-input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.file-label {
  font-weight: normal;
  margin: 0;
  cursor: pointer; /* "hand" cursor */
}
