.fluid-slider {
  position: relative;
  width: $slider-width + px;

  //The label at the both sides
  &::before, &::after {
    position: absolute;
    width: 100px;
    padding: 0.37em 0.5em 0.47em;
    background: $gray-r200;
    color: $gray-800;
    top: 17.5%;
    box-sizing: border-box;
    text-align: center;
    font-size: 0.9rem;
    border-radius: 3px;
  }

  &::before {
    transform: translate(-100%, -50%);
    left: -10px;
    content: attr(data-dest);
  }

  &::after {
    transform: translate(100%, -50%);
    right: -10px;
    content: attr(data-source);
  }

  &__input {
    -webkit-appearance: none;
    width: $slider-width + px;
    height: 25px;
    background: #34495e;
    border-radius: 2px;
    margin: 0;
    position: relative;
    background-color: #34495e;
  
    &:focus {
      outline: none;
    }
  
    //The dot to be clicked
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      border-radius: 0;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      cursor: pointer;
      background: #fff;
      opacity: 0.65;
      border: 4px solid #34495e;
      position: relative;
      transition: all ease-in-out 0.05s;
    }
  
    &::-moz-range-thumb {
      -moz-appearance: none;
      appearance: none;
      border-radius: 0;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      cursor: pointer;
      background: #fff;
      opacity: 0.65;
      border: 4px solid #34495e;
      position: relative;
      transition: all ease-in-out 0.05s;
    }
  
    &:active::-webkit-slider-thumb {
      background: transparent;
    }
  
    &:active::-moz-range-thumb {
      background: transparent;
    }
  }
  
  //The responsive label on top of the dot
  &__range-label {
    position: relative;
    display: block;
    width: 40px;
    height: 40px;
    top: -65px;
    visibility: hidden;
    opacity: 0;
    background: #fff;
    border-radius: 50%;
    line-height: 30px;
    text-align: center;
    font-weight: bold;
    font-size: 0.8em;
    transform: translateX(-50%);
    box-sizing: border-box;
    border: 6px solid #34495e;
    left: attr(value) 20;
    transition: all ease-in 0.05s;
  
    &::after {
      position: absolute;
      content: "";
      top: 30px;
      left: 50%;
      transform: translateX(-50%);
      width: 7px;
      height: 10px;
      border-radius: 2px;
      background-repeat: no-repeat;
      background-color: #34495e;
    }
  }

  &__input:active + &__range-label {
    visibility: visible;
    opacity: 1;
    top: -74px;
  }
}

::-moz-range-track {
  background: #34495e;
  border: 0;
}
input::-moz-focus-inner,
input::-moz-focus-outer {
  border: 0;
}
