//--From Bootstrap
//color(black);
//gray(100);
//theme-color(primary);
//theme-color-level(primary, -10);
//color-yiq(theme-color(dark));

//--From SCSS (accepts only pure color code)
//lighten(color, 10)
//darken
//saturate
//desaturate
//opacify
//transparentize


@function z($key) {
  @if map-has-key($z-layers, $key) {
    @return map-get($z-layers, $key);
  }

  @warn "Unknown `#{$key}` in $z-layers.";
  @return null;
}

//Generate `.spacer-*` class utilities
//.spacer-100 -> 100px padding space (50px each side)
@each $breakpoint in map-keys($spacer-breakpoints) {
  $infix: breakpoint-infix($breakpoint, $spacer-breakpoints); //bs function

  .spacer#{$infix} {
    padding: map-get($spacer-breakpoints, $breakpoint) / 2;
  }
}

//Generate `.fs-*` class utilities
//.fs-55 -> font-size 0.55rem
@each $breakpoint in map-keys($fontsize-breakpoints) {
  $infix: breakpoint-infix($breakpoint, $fontsize-breakpoints); //bs function

  .fs#{$infix} {
    font-size: map-get($fontsize-breakpoints, $breakpoint);
  }
}