#canvasRoot {
  position: relative;
  font-family: sans-serif;
  font-size: 10px;
}

#information {
  visibility: hidden;
  position: absolute;
  top: 50px;
  left: 30px;
  width: 120px;
  text-align: center;
  font-size: 11px;
  color: $gray-800;
  z-index: -1;
}
