#canvasRoot {
  position: relative;
  font-family: sans-serif;
  font-size: 10px;
  margin-left: -50px;

  &>svg {
    overflow: visible;
  }
}

#dashboard {
  width: 120px;
  top: 50px;
  left: 20%;
}

#information {
  visibility: hidden;
  text-align: center;
  font-size: 11px;
  color: $gray-800;
  z-index: -1;
}

#legend {
  margin-bottom: 20px;
  margin-left: 10%;

  p {
    font-size: 14px;
    color: $gray-700;
    text-align: left;
    margin-bottom: 0.75rem;
  }

  g {
    cursor: pointer;
  }
}
