.footer-control {
  text-align: left;

  @extend %i-control;
  i {
    transform: rotate(180deg);
  }
}

.footer-band {
  color: $gray-200;
  font-size: 0.75rem;
  background-color: $gray-700;
  padding-top: 10px;
  padding-bottom: 12px;
  padding-right: 40px;
  text-align: right;
}

#footer-wrapper {
  a:link, a:visited, a:hover, a:active {
    @extend %remove-a-effect;
  }
}