.footer-control {
  text-align: left;

  i {
    transform: rotate(180deg);
    color: $gray-300;
    font-size: 1.5rem;
    transition: all ease-in 0.05s;
  }
  i:hover {
    color: $gray-500;
  }
}

.footer-band {
  color: $gray-200;
  font-size: 0.75rem;
  background-color: $gray-700;
  padding-top: 10px;
  padding-bottom: 12px;
  padding-right: 40px;
  text-align: right;
}