.footer-control {
  font-size: 0.75rem;
  padding: 0px 15px 3px;

  @extend %i-control;
  i {
    transform: rotate(180deg);
  }
}

.footer-band {
  color: $gray-200;
  font-size: 0.75rem;
  background-color: $gray-700;
  padding: 12px 15px;
}

#footer-wrapper {
  a:link, a:visited, a:hover, a:active {
    @extend %remove-a-effect;
  }
}