@mixin transition-all() {
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}
@mixin background-cover() {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
@mixin serif-font() {
  font-family: "Merriweather", "Helvetica Neue", Arial, sans-serif;
}
@mixin sans-serif-font() {
  font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
}

%remove-a-effect {
  color: inherit;
  text-decoration: none;
  border: none;
  outline: 0px;
}

%i-control {
  i {
    pointer-events: auto;
    color: $gray-300;
    font-size: 1.5rem;
    transition: all ease-in 0.05s;
    cursor: pointer;
  }
  i:hover {
    color: $gray-500;
  }
  i:focus {
    outline: 0px;
  }
} 

%themed-b {
  b {
    font-weight: inherit;
    color: theme-color-level(primary, 3);
  }
}

%themed-u {
  u {
    display: inline-block;
    padding-bottom: 0.1rem;
    margin-bottom: 0.2rem;
    font-size: 0.8rem;
    text-decoration: none;
    border-bottom-style: solid;
    border-bottom-color: theme-color-level(light, 0);
    border-bottom-width: 2px;
    color: theme-color-level(dark, -7);
  }
}