@mixin transition-all() {
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}
@mixin background-cover() {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
@mixin serif-font() {
  font-family: "Merriweather", "Helvetica Neue", Arial, sans-serif;
}
@mixin sans-serif-font() {
  font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
}

%remove-a-effect {
  color: inherit;
  text-decoration: none;
  border: none;
}

%i-control {
  i {
    color: $gray-300;
    font-size: 1.5rem;
    transition: all ease-in 0.05s;
    cursor: pointer;
  }
  i:hover {
    color: $gray-500;
  }
} 

%themed-b {
  b {
    font-weight: 400;
    color: theme-color-level(primary, 3);
  }
}