.modal-header {
  border: none;
  
  .modal-title {
    font-size: 1.5rem;

    p {
      font-size: 0.85rem;
      margin-top: 0.5rem;
      margin-bottom: 0rem;
    }
  }

  .close {
    margin-top: -0.7rem;

    &:focus { //Modify the default bs focus stye
      outline-color: $gray-500;
    }
  }
  
}

.modal-body {
  @extend %themed-b;
  font-size: 0.85rem;

  p, small {
    padding-left: 5px;
  }

  h5 {
    padding: 3px !important;
    padding-left: 5px !important;
    margin-top: 2rem !important;
    background-color: $gray-r100;
    border-radius: 2px;

    &:first-child {
      margin-top: 0rem !important;
    }
  }

  img {
    width: 66%;
    padding-left: 5px;
  }

  li {
    margin-top: 0.4rem;
  }
}

.tippy-tooltip.light-theme .tippy-content,
.tippy-tooltip.light-border-theme .tippy-content {
  @extend %themed-b;
  @extend %themed-u;

  color: $gray-700;
}