.title-AHP {
  pointer-events: none;
}


//Animate title only in larger screens
.title-AHP-static {display: block;}
.title-AHP-animated {display: none;}

@include media-breakpoint-up(md) {
  .title-AHP-static {display: none;}
  .title-AHP {
    transform: translate(-17px, 0);
  
    &-animated {
      display: block;
      position: relative;
      overflow: hidden;
      height: 45px;
  
      &__carousel {
        margin-top: 0;
        transform: translate3d(0, -50%, 0);
        padding-right: 53px;
        text-align: center;
        list-style: none;
        
        -webkit-animation-name: change;
        -webkit-animation-duration: $title-anim-length + s;
        -webkit-animation-iteration-count: 1;
        -webkit-animation-timing-function: cubic-bezier(.17,.84,.44,1);
        animation-name: change;
        animation-duration: $title-anim-length + s;
        animation-iteration-count: 1;
        animation-timing-function: cubic-bezier(.17,.84,.44,1);
      }
    }
  }
}


@include keyframes(change) {
  0%, 20% {transform: translate3d(0, -50%, 0);}
  40%, 70% {transform: translate3d(0, -100%, 0);}
  90%, 100% {transform: translate3d(0, -50%, 0);}
}