//When add new var, add into export as well to be used in js
$white    : #fff   ;
$gray-100 : #f8f9fa;
$gray-200 : #e9ecef;
$gray-300 : #dee2e6;
$gray-400 : #ced4da;
$gray-500 : #adb5bd;
$gray-600 : #868e96;
$gray-700 : #495057;
$gray-800 : #343a40;
$gray-900 : #212529;
$black    : #000   ;

$gray-r100: #faf8f8;
$gray-r200: #efe9e9;
$gray-r300: #e6dede;
$gray-r400: #dacece;
$gray-r500: #bdadad;
$gray-r600: #968686;
$gray-r700: #574949;
$gray-r800: #403434;
$gray-r900: #292121;

$blue     : #007bff;
$indigo   : #6610f2;
$purple   : #6f42c1;
$pink     : #e83e8c;
$red      : #dc3545;
$orange   : #fd7e14;
$yellow   : #ffc107;
$green    : #28a745;
$teal     : #20c997;
$cyan     : #17a2b8;

$primary  : #F05F40;
$secondary: $gray-600;
$success  : $green   ;
$info     : $cyan    ;
$warning  : $yellow  ;
$danger   : $red     ;
$light    : $gray-100;
$dark     : $gray-800;

//Extend/override Bootstrap maps
$theme-colors: (
  primary:    $primary,
  secondary:  $secondary,
  success:    $success,
  info:       $info,
  warning:    $warning,
  danger:     $danger,
  light:      $light,
  dark:       $dark
);

$spacer: 1rem;
$spacers: (
  6: ($spacer * 4.5),
  7: ($spacer * 6)
);

//Potentially useful way to manage z index
$z-layers: (
  bottomless-pit: -9999,
  default: 1,
  dropdown: 3000,
  overlay: 4000,
  modal: 4001
);

$spacer-breakpoints: (
  100: 100px,
  150: 150px,
  200: 200px,
  250: 250px,
  300: 300px,
  350: 350px,
  400: 400px
);

$fontsize-breakpoints: (
  55: 0.55rem,
  70: 0.70rem,
  85: 0.85rem,
  100: 1.00rem,
  115: 1.15rem,
  130: 1.30rem,
  145: 1.45rem
);

$slider-width: 300;


:export {
  white: $white;
  gray100: $gray-100; 
  gray200: $gray-200; 
  gray300: $gray-300; 
  gray400: $gray-400; 
  gray500: $gray-500; 
  gray600: $gray-600; 
  gray700: $gray-700; 
  gray800: $gray-800; 
  gray900: $gray-900; 
  black: $black;

  grayr100: $gray-r100; 
  grayr200: $gray-r200; 
  grayr300: $gray-r300; 
  grayr400: $gray-r400; 
  grayr500: $gray-r500; 
  grayr600: $gray-r600; 
  grayr700: $gray-r700; 
  grayr800: $gray-r800; 
  grayr900: $gray-r900; 

  blue: $blue;     
  indigo: $indigo;   
  purple: $purple;   
  pink: $pink;     
  red: $red;      
  orange: $orange;   
  yellow: $yellow;   
  green: $green;   
  teal: $teal;     
  cyan: $cyan;

  primary: $primary;  
  secondary: $secondary;
  success: $success;  
  info: $info;     
  warning: $warning;  
  danger: $danger;   
  light: $light;    
  dark: $dark;

  sliderWidth: $slider-width;
}