//When add new var, add into export as well to be used in js
$white    : #fff   ;
$gray-100 : #f8f9fa;
$gray-200 : #e9ecef;
$gray-300 : #dee2e6;
$gray-400 : #ced4da;
$gray-500 : #adb5bd;
$gray-600 : #868e96;
$gray-700 : #495057;
$gray-800 : #343a40;
$gray-900 : #212529;
$black    : #000   ;

$gray-r100: #faf8f8;
$gray-r200: #efe9e9;
$gray-r300: #e6dede;
$gray-r400: #dacece;
$gray-r500: #bdadad;
$gray-r600: #968686;
$gray-r700: #574949;
$gray-r800: #403434;
$gray-r900: #292121;

$blue     : #007bff;
$indigo   : #6610f2;
$purple   : #6f42c1;
$pink     : #e83e8c;
$red      : #dc3545;
$orange   : #fd7e14;
$yellow   : #ffc107;
$green    : #28a745;
$teal     : #20c997;
$cyan     : #17a2b8;

$primary  : #F05F40;
$secondary: $gray-600;
$success  : $green   ;
$info     : $cyan    ;
$warning  : $yellow  ;
$danger   : $red     ;
$light    : $gray-100;
$dark     : $gray-800;

//Extend/override Bootstrap maps
$theme-colors: (
  primary  : $primary,
  secondary: $secondary,
  success  : $success,
  info     : $info,
  warning  : $warning,
  danger   : $danger,
  light    : $light,
  dark     : $dark
);

$spacer: 1rem;
$spacers: (
  -1: ($spacer * -0.25),
  -2: ($spacer * -0.5),
  -3: ($spacer * -1),
  -4: ($spacer * -1.5),
  -5: ($spacer * -3),
  -6: ($spacer * -4.5),
  -7: ($spacer * -6),
  6 : ($spacer * 4.5),
  7 : ($spacer * 6)
);

//Potentially useful way to manage z index
//only works on positioned elements (e.g. position:absolute, position:relative).
$z-layers: (
  bottomless-pit: -10000,
  -3      : -3,
  -2      : -2,
  -1      : -1,
  0       : 0,
  1       : 1,
  2       : 2,
  3       : 3,
  hover   : 100,
  active  : 200,
  focus   : 300,
  dropdown: 1000,
  overlay : 2000,
  modal   : 3000
);

$spacer-breakpoints: (
  100: 100px,
  150: 150px,
  200: 200px,
  250: 250px,
  300: 300px,
  350: 350px,
  400: 400px
);

$fontsize-breakpoints: (
  55 : 0.55rem,
  70 : 0.70rem,
  85 : 0.85rem,
  100: 1.00rem,
  115: 1.15rem,
  130: 1.30rem,
  145: 1.45rem
);

$font-family-base: "Open Sans", "Helvetica Neue", Arial, sans-serif;

$slider-width: 300;
$title-anim-length: 3;


//Parsed by Webpack and can be imported in js files
:export {
  WHITE    : $white;
  GRAY_100 : $gray-100; 
  GRAY_200 : $gray-200; 
  GRAY_300 : $gray-300; 
  GRAY_400 : $gray-400; 
  GRAY_500 : $gray-500; 
  GRAY_600 : $gray-600; 
  GRAY_700 : $gray-700; 
  GRAY_800 : $gray-800; 
  GRAY_900 : $gray-900; 
  BLACK    : $black;

  GRAY_R100: $gray-r100; 
  GRAY_R200: $gray-r200; 
  GRAY_R300: $gray-r300; 
  GRAY_R400: $gray-r400; 
  GRAY_R500: $gray-r500; 
  GRAY_R600: $gray-r600; 
  GRAY_R700: $gray-r700; 
  GRAY_R800: $gray-r800; 
  GRAY_R900: $gray-r900; 

  BLUE     : $blue;     
  INDIGO   : $indigo;   
  PURPLE   : $purple;   
  PINK     : $pink;     
  RED      : $red;      
  ORANGE   : $orange;   
  YELLOW   : $yellow;   
  GREEN    : $green;   
  TEAL     : $teal;     
  CYAN     : $cyan;

  PRIMARY  : $primary;  
  SECONDARY: $secondary;
  SUCCESS  : $success;  
  INFO     : $info;     
  WARNING  : $warning;  
  DANGER   : $danger;   
  LIGHT    : $light;    
  DARK     : $dark;

  SLIDER_WIDTH: $slider-width;
  TITLE_ANIM_LENGTH: $title-anim-length;
}