//When add new var, add into export as well to be used in js
$white    : #fff      !default;
$gray-100 : #f8f9fa   !default;
$gray-200 : #e9ecef   !default;
$gray-300 : #dee2e6   !default;
$gray-400 : #ced4da   !default;
$gray-500 : #adb5bd   !default;
$gray-600 : #868e96   !default;
$gray-700 : #495057   !default;
$gray-800 : #343a40   !default;
$gray-900 : #212529   !default;
$black    : #000      !default;

$gray-r100 : #faf8f8   !default;
$gray-r200 : #efe9e9   !default;
$gray-r300 : #e6dede   !default;
$gray-r400 : #dacece   !default;
$gray-r500 : #bdadad   !default;
$gray-r600 : #968686   !default;
$gray-r700 : #574949   !default;
$gray-r800 : #403434   !default;
$gray-r900 : #292121   !default;

$blue     : #007bff   !default;
$indigo   : #6610f2   !default;
$purple   : #6f42c1   !default;
$pink     : #e83e8c   !default;
$red      : #dc3545   !default;
$orange   : #fd7e14   !default;
$yellow   : #ffc107   !default;
$green    : #28a745   !default;
$teal     : #20c997   !default;
$cyan     : #17a2b8   !default;

$primary  : #F05F40   !default;
$secondary: $gray-600   !default;
$success  : $green      !default;
$info     : $cyan       !default;
$warning  : $yellow     !default;
$danger   : $red        !default;
$light    : $gray-100   !default;
$dark     : $gray-800   !default;

$slider-width: 300px;


:export {
    white: $white;
    gray100: $gray-100; 
    gray200: $gray-200; 
    gray300: $gray-300; 
    gray400: $gray-400; 
    gray500: $gray-500; 
    gray600: $gray-600; 
    gray700: $gray-700; 
    gray800: $gray-800; 
    gray900: $gray-900; 
    black: $black;

    grayr100: $gray-r100; 
    grayr300: $gray-r300; 
    grayr400: $gray-r400; 
    grayr200: $gray-r200; 
    grayr500: $gray-r500; 
    grayr600: $gray-r600; 
    grayr700: $gray-r700; 
    grayr800: $gray-r800; 
    grayr900: $gray-r900; 

    blue: $blue;     
    indigo: $indigo;   
    purple: $purple;   
    pink: $pink;     
    red: $red;      
    orange: $orange;   
    yellow: $yellow;   
    green: $green;   
    teal: $teal;     
    cyan: $cyan;

    primary: $primary;  
    secondary: $secondary;
    success: $success;  
    info: $info;     
    warning: $warning;  
    danger: $danger;   
    light: $light;    
    dark: $dark;

    sliderWidth: 300;
}